/* цвет основного текста #212121; */
/* вторичный цвет текста  #757575;  */
/* белый #FFFFFF; */
/* акцент #2196F3; */
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  color: var(--primary-text-color);
  font-family: var(--main-font);
}

/* =========ШАПКА САЙТА========= */

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.description-span {
  color: var(--accent-color);
}

.menu-list .menu-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.menu-list .menu-link:hover,
.menu-list .menu-link:focus {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/*======== ГЕРОЙ===========*/
.hero {
  background: #2f303a;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.modal-button {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  cursor: pointer;
}
/*======= Преимущества =========*/
.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* =====================ЧЕМ МЫ ЗАНИМАЕМСЯ============ */

.promo-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* ==========НАША КОМАНДА==========*/
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team-subtitle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* ========ФУТЕР======= */
.footer {
  background: #2f303a;
}
.logo-futer {
  font-family: var(--secondary-font);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-list-link {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
}
.contacts-list-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--accent-color);
}

/* ===========ПОРТФОЛИО======= */

.nav-button {
  color: var(--title-text-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.nav-button:hover,
.nav-button:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
}

.work-list-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-list-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
