/* цвет основного текста #212121; */
/* вторичный цвет текста  #757575;  */
/* белый #FFFFFF; */
/* акцент #2196F3; */
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  color: var(--primary-text-color);
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* =========ШАПКА САЙТА========= */
.header {
  border: 1px solid #ececec;
}
.container-nav {
  display: flex;
  align-items: center;
  width: 1200px;
  justify-content: center;
  border-bottom: 1px solid #ececec;
}
.navigation {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 15px;

  font-family: var(--secondary-font);
  font-style: normal;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.description-span {
  color: var(--accent-color);
}

.menu-list .menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-list {
  display: flex;
  margin-left: 93px;
}
.menu-list .menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.menu-list .menu-link:hover,
.menu-list .menu-link:focus {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
  padding-right: 15px;
}
.auth-nav .auth-nav-item + .auth-nav-item {
  margin-left: 50px;
}
.auth-nav .auth-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/*======== ГЕРОЙ===========*/

.hero {
  background: #2f303a;
  width: 1200px;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.modal-button {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  background-color: var(--accent-color);
  cursor: pointer;
}
/*======= Преимущества =========*/
.section {
  display: flex;
  flex-wrap: wrap;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.feature-list {
  display: flex;
}
.feature-list .feature-list-item {
}
.feature-list .feature-list-item:not(:last-child) {
  margin-right: 30px;
}
.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* =====================ЧЕМ МЫ ЗАНИМАЕМСЯ============ */

.promo-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.promo-link-list {
  display: flex;
}
.promo-link-list .promo-link-list-item:not(:last-child) {
  margin-right: 30px;
}
/* ==========НАША КОМАНДА==========*/
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-link-list {
  display: flex;
}
.team-link-list .team-link-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-subtitle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ========ФУТЕР======= */
.footer {
  background: #2f303a;
}
.conteiner-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
}
.logo-futer {
  display: block;
  font-family: var(--secondary-font);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 20px;
}

.address-list-link {
  display: block;
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
}

.contacts-list-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--accent-color);
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
/* ===========ПОРТФОЛИО======= */

.button-nav {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  justify-content: center;
}

.button-nav .button-nav-item:not(:last-child) {
  margin-right: 8px;
}
.button-nav .nav-button {
  color: var(--title-text-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
}

.nav-button:hover,
.nav-button:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-list .work-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.work-list .work-list-item:nth-child(3n) {
  margin-right: 0px;
}

.work-list .work-list-item:nth-last-child(-n + 3n) {
  margin-bottom: 0px;
}
.work-list-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-list-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
